<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head',{title: title}); %>
  <body>
    <%- include('../components/header',{cartButtonShow:false}); %>
    <main>
      <section class="cart-items">
        <!-- Sample Cart Items -->
        <% for( let i = 0; i < lists.length; i++ ) { %>
          <div class="cart-item">
            <img src="<%= lists[i].image_url%>" alt="<%= lists[i].name%>" />
            <div class="item-details">
              <h3><%= lists[i].name%></h3>
              <p class="price"><%= lists[i].currency%><%= lists[i].price%></p>
            </div>
            <div class="item-quantity">
              <input type="number" value="1" min="1" />
            </div>
            <div class="item-total">
              <p class="total-price"><%= lists[i].currency%><%= lists[i].price%></p>
            </div>
            <div class="item-actions">
              <form action="/delete-cart-item/<%= lists[i].id%>" method="post">
                <button type="submit">Remove</button>
              </form>
            </div>
          </div>
          <% } %>

        <!-- Add more cart items here -->
      </section>
    </main>
  </body>
</html>
