<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head',{title: title}); %>
  <body>
    <%- include('../components/header',{cartButtonShow:true}); %>
    <main>
      <section class="product-listing">
        <!-- Sample Product  -->
        <% for (let i = 0; i< lists.length; i++){ %>
          <div class="product">
            <img src=<%= lists[i].image_url %> alt="<%= lists[i].name %>" style="width:250px;height:250px;"/>
            <h2><%= lists[i].name %></h2>
            <p><%= lists[i].description %></p>
            <p class="price"><%= lists[i].currency %><%= lists[i].price %></p>
            <button class="add-to-cart">Add to Cart</button>
          </div>

        <% } %>


        <!-- Add more sample products here -->
      </section>
    </main>
  </body>
</html>
